<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>胎兒的發育：\n\n*還未進入受孕期。</string>
	<string>胎兒的發育：\n\n*還在努力階段的夫妻們，好好加油，新生命就等著你們一起創造。</string>
	<string>胎兒的發育：\n\n*受精卵只有0.2毫米大小，重量約1.5微克。\n\n*剛形成的受精卵要經過3～4天的時間才會到達子宮腔。</string>
	<string>胎兒的發育：\n\n*這時候胚胎才剛著床，正要開始發育，還只是小小的胚囊。\n\n*剛著床時可能會有少量出血。\n\n\n重量：還不到1克。\n\n身高：約0.4公分。</string>
	<string>胎兒的發育：\n\n*胎胚還非常的小。\n\n*胚胎已著床，外型漸漸由平板狀形成一管狀、長條形的外觀。\n\n*細胞迅速分裂，主要器官開始生長。\n\n\n身高：約0.4～1公分。</string>
	<string>胎兒的發育：\n\n*透過超音波多半已可看到胚胎存在子宮內，外觀有點像小蝌蚪。\n\n*胎兒心臟已開始跳動。\n\n*其他器官也在分化形成中。\n\n\n重量：還不到1克。\n\n身高：約1公分。</string>
	<string>胎兒的發育：\n\n*胚囊已經很明顯，已可聽見胎兒心跳。\n\n*胎兒開始有像四肢的「芽」在發育，不過由超音波還無法看清楚。\n\n*眼睛與耳朵開始發育。\n\n*胚胎表面有液體分泌，但還不算是羊水。\n\n\n重量：還不到1克。\n\n身高：約1～1.2公分。</string>
	<string>胎兒的發育：\n\n*胎兒已更加成形，頭部更明顯，這時有點像爬蟲類般的外型。\n\n*四肢隱約可從超音波觀察到，但依舊只是雛型而已。\n\n*寶寶皮膚薄得像紙，血管清晰可見。\n\n\n重量：約1克。\n\n身高：約1～1.6公分。</string>
	<string>胎兒的發育：\n\n*以實際受孕週數計算，這時候胚胎已成長了7個星期。\n\n*外形可看出人形，心臟發育進入後半段。\n\n*四肢部分原本只是芽狀現在已明顯，上、下肢末端可看到似手指般的形態。\n\n*牙齒也開始生長。\n\n*外部生殖器漸漸因性別不同而有所改變。\n\n\n重量：約1～2克。\n\n身高：約2～2.5公分。</string>
	<string>胎兒的發育：\n\n*胎兒形態大多已完成，但是外形還是很小。\n\n*神經系統仍在發育。\n\n*四肢進入完成階段，骨頭形態也趨於完整。\n\n*眼睛、耳朵初期發展進入後半段。\n\n*生殖器外型變化則更明顯。\n\n\n重量：約2～4克。\n\n身高：約3～4公分。</string>
	<string>胎兒的發育：\n\n*此階段可正式稱為「胎兒」，外形已經像小個baby，只是輪廓還不深。\n\n*手腳發育已差不多完成，開始能做吸吮、吞嚥和踢腿的動作。\n\n*眼、耳的發展進入後半階段。\n\n*生殖器及神經系統則還在發展當中。\n\n\n重量：約7～12克。\n\n身高：將近4～6公分。</string>
	<string>胎兒的發育：\n\n*胎兒已有人類的外形感，腦部會占整個身體一半比例。\n\n*12週之後，男寶寶陰莖開始漸漸出來，女寶寶會陰部形態也趨向於固定。\n\n*眼睛、牙齒、臉部也趨完整，功能之後會更加成熟。\n\n\n重量：約10～14克。\n\n身高：約5～6公分。</string>
	<string>胎兒的發育：\n\n*器官成長進入後半段，心臟包括心房、心室結構已差不多完成。\n\n*耳朵外形也較明顯，手指的分化已趨完成，臉的發育亦處於重要階段。\n\n*外生殖器發育在此階段會開始變得明顯，外形已有明顯的不同。\n\n\n重量：約20～23克。\n\n身高：約7～7.6公分。</string>
	<string>胎兒的發育：\n\n*眼、耳、鼻、口仍在持續生長。\n\n*14週以後聽覺功能會再進一步發育，耳朵構造更成熟。\n\n*皮膚上覆蓋了細細的絨毛。\n\n\n重量：約40～43克。\n\n身高：約7～10公分。</string>
	<string>胎兒的發育：\n\n*頭部仍舊佔身體總長的一半。\n\n*汗腺正形成，眼瞼仍閉合，但已可感光。\n\n*眉毛長出來了，頭髮也開始生長。\n\n\n重量：約50～70克。\n\n身高：將近10～10.7公分。</string>
	<string>胎兒的發育：\n\n*耳朵功能已趨向完成。\n\n*眼睛、骨骼、牙齒持續成長。\n\n*生殖器更為明顯。\n\n*神經系統也仍在發展。\n\n*出現呼吸的前兆。\n\n\n重量：約130～150克。\n\n身高：約12～16公分。</string>
	<string>胎兒的發育：\n\n*腦部細部構造持續在發育。\n\n*外生殖器已很明顯。\n\n*臉部輪廓也長得差不多。\n\n*耳朵內、外結構發育趨近完成。\n\n*皮膚部分也已完整，可清楚看到指甲。\n\n*中樞神經的發展則進入關鍵期的後半段。\n\n\n重量：約130～150克。\n\n身高：約13～16公分左右。</string>
	<string>胎兒的發育：\n\n*胎兒與上週差不多，變化不大。\n\n*神經系統仍在發育。\n\n*四肢進入完成階段，骨頭形態也趨於完整。\n\n*眼睛、耳朵初期發展進入後半段。\n\n\n重量：約180～200克。\n\n身高：將近14～16公分。</string>
	<string>胎兒的發育：\n\n*心、肺、外生殖器形態已發展完成。\n\n*腦部、神經則持續在發育中。\n\n*耳朵內、外構造幾乎趨近完成。\n\n*泌尿系統發育也已完成一半進度。\n\n*此時開始能夠吞咽羊水，腎臟也會制造尿液。\n\n\n重量：約200～250克。\n\n身高：將近15～17公分。</string>
	<string>胎兒的發育：\n\n*胎兒細部變化還是不大，多半只是體型的增大。\n\n*耳朵內外的發育已完成，包括內耳、中耳。\n\n*皮膚表皮胎脂已經開始出現了。\n\n*胎兒會經常喝羊水，也會在羊水裡尿尿。\n\n\n重量：約250～300克。\n\n身高：約16～25公分。</string>
	<string>胎兒的發育：\n\n*體表已有覆蓋胎脂保護皮膚\n\n*胎動頻繁，一小時可達50次\n\n*開始有固定的睡眠活動週期\n\n*五官模樣更明顯了\n\n\n重量：約360～450克。\n\n身高：約26.2～27.2公分。</string>
	<string>胎兒的發育：\n\n*指甲開始長出\n\n*聽覺系統開始發育\n\n*皮膚紅紅皺皺的\n\n*腦部迅速生長\n\n*手腳細微動作增多\n\n\n重量：約430～560克。\n\n身高：約27.3～28.3公分。</string>
	<string>胎兒的發育：\n\n*五官面部細節均發育完成，眼、眉等清晰可見\n\n*視網膜已經形成，具備微弱的視力\n\n*呼吸系統準備發育\n\n*開始穩定分泌腺體及激素\n\n*恆齒的牙胚成長中\n\n\n重量：約501～690克。\n\n身高：約28.4～29.4公分。</string>
	<string>胎兒的發育：\n\n*聽力更好了，可聽見媽媽心跳及腸胃蠕動聲\n\n*呼吸系統發育中\n\n*外觀仍顯乾瘦，但更有嬰兒樣貌了\n\n*需要大量維生素礦物質以發育成長\n\n\n重量：約600～760克\n\n身高：約29.5～30.5公分</string>
	<string>胎兒的發育：\n\n*舌頭上的味蕾正在形成\n\n*胎兒腦細胞迅速分化增殖，大腦進入發育高峰期\n\n*能聽到更多外界聲音，如吸塵器\n\n*體表覆蓋著細細的絨毛\n\n\n重量：約660～850克\n\n身高：約34.0～35.1公分</string>
	<string>胎兒的發育：\n\n*皮下脂肪形成\n\n*開始練習呼吸動作\n\n*肢體動作更多樣了，還會轉身\n\n*胎兒的視覺神經正在發展\n\n*聽覺系統發育成熟了\n\n\n重量：約760～1050克\n\n身高：約35.1～36.2公分</string>
	<string>胎兒的發育：\n\n*本周起羊水增加量漸緩\n\n*眼睛已能睜開或閉上\n\n*外生殖器官進一步發育\n\n*長出頭髮\n\n*外觀看起來更圓潤了\n\n\n重量：約875～1310克\n\n身高：約36.3～37.4公分</string>
	<string>胎兒的發育：\n\n*活動週期逐漸規律\n\n*胎動明顯有睡眠與清醒之分\n\n*開始吸吮手指\n\n*腦部活動活躍，甚至可能會做夢\n\n\n重量：約1005～1580克\n\n身高：約37.1～38.2公分</string>
	<string>胎兒的發育：\n\n*皮下脂肪增加，外觀明顯胖起來了\n\n*會上下翻轉位置，因身體漸大活動空間不足，胎動也稍微減少\n\n*視覺發育已趨成熟\n\n*胎盤血流增加功能強化，寶寶體重也明顯上升\n\n\n重量：約1153～1800克\n\n身高：約38.3～39.5公分</string>
	<string>胎兒的發育：\n\n*胎兒骨骼漸漸發育完全，可從胎動感受到力道\n\n*大腦和神經系統已經發達到一定的程度\n\n*肌肉及肺部也發展成熟\n\n\n重量：約1319～1990克。\n\n身高：約39.5～40.8公分。</string>
	<string>胎兒的發育：\n\n*皮膚皺皺的，呈現淡紅色，身上長滿了細細的胎毛。\n\n*胎兒的臉部變得清晰，能區分光亮與黑暗。\n\n*活動力旺盛，動作大時媽咪的肚子也會跟著動。\n\n*寶寶的肺部和消化系統已基本發育完成\n\n\n重量：約1800～2300克\n\n身高：約40～42公分</string>
	<string>胎兒的發育：\n\n*寶寶正在快速成長中。\n\n*胎兒存活力已高達9成以上，不過肺部尚未發育成熟，若早產仍需在保溫箱中特別照護。\n\n*胎兒的腎臟功能在出生前，發育尚未成熟，需留意羊水量多寡。\n\n\n重量：約1800～2300克\n\n身高：約40～42公分</string>
	<string>胎兒的發育：\n\n*胎兒持續生長，骨骼會變硬，除了腦部的囟門之外。\n\n*胎毛逐漸消失，循環、呼吸、消化等器官發育成熟。\n\n*有時可以看到肚皮上突出小手小腳。\n\n\n重量：約2400～2800克\n\n身高：約42～45公分</string>
	<string>胎兒的發育：\n\n*肺部的成熟度此時已發展完成。\n\n*此後若有早產徵兆，通常就不會建議做安胎，因為此時寶寶的存活率高。\n\n*多數寶寶已呈現頭下腳上的胎位。\n\n\n重量：約2500～3000克\n\n身高：約43～48公分</string>
	<string>胎兒的發育：\n\n*胎兒的胎脂開始增多，用途是保暖以及潤滑作用，以利進行自然生產。\n\n*此時的子宮壁和腹壁已經變薄，有更多的光亮透射進入子宮，這會讓胎兒逐步建立自己每日的活動週期。\n\n*完成了大部分的身體器官發育。\n\n\n重量：約2500～3200克\n\n身高：約45～48公分</string>
	<string>胎兒的發育：\n\n*胎脂及胎毛會慢慢脫落\n\n*此時胎位幾乎固定，再變化的機率很小。\n\n*胎兒生長快速，使得子宮空間變小，因此胎動會慢慢減少。\n\n*胎兒會把眼睛睜開或閉上。\n\n\n重量：約2600～3300克\n\n身高：約45～50公分</string>
	<string>胎兒的發育：\n\n＊胎兒頭部進入母親骨盆腔，活動空間變小，胎動也會減少。\n\n＊此時寶寶的頭朝下，膝蓋緊挨著鼻子，大腿則貼著身體。\n\n＊37週已達足月，此週數之後出生都很合適。\n\n\n重量：約2700～3400克\n\n身高：約48～52公分</string>
	<string>胎兒的發育：\n\n*胎兒此時的肺部成熟度更佳。\n\n*如果是胎位不正等因素，需剖腹生產的媽咪，應於38週後接受剖腹產手術。\n\n*胎兒隨時都可能會出生。\n\n\n重量：約2800～3500克\n\n身高：約48～52公分</string>
	<string>胎兒的發育：\n\n*寶寶的肺部血流量增加。\n\n*腦部開始增加橫隔膜的運動頻率，就彷彿是在子宮內真的呼吸一樣。\n\n*寶寶的皮膚光滑圓潤，手指、腳趾也長出指甲。\n\n\n重量：約2800～3700克。\n\n身高：約48～52公分。</string>
	<string>胎兒的發育：\n\n*胎兒的模樣已和新生兒差不多。\n\n*胎盤的功能也逐漸退化。\n\n*大多數胎兒會在第40週時出生，提前或延遲兩週出生都屬於正常。\n\n\n重量：約2800～3800克\n\n身高：約48～52公分</string>
</array>
</plist>
